**[Pandas Micro-Course Home Page](https://www.kaggle.com/learn/pandas)**

---

# Creating Reading and Writing

## Relevant Resources
* **[Creating, Reading and Writing Reference](https://www.kaggle.com/residentmario/creating-reading-and-writing-reference)** - Tutorial 
* [General Pandas Cheat Sheet](https://assets.datacamp.com/blog_assets/PandasPythonForDataScience.pdf)
* [IO tools](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html) - Pandas Documentation
* [This Notebook on Kaggle](https://www.kaggle.com/mahendrabishnoi2/04-pandas)

## Creating Data

In [1]:
# import pandas
import pandas as pd

# creating a DataFrame
pd.DataFrame({'Yes': [50, 31], 'No': [101, 2]})

   Yes   No
0   50  101
1   31    2

In [2]:
# another example of creating a dataframe
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland']})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.         Bland

We are using the `pd.DataFrame` constructor to generate these `DataFrame` objects. The syntax for declaring a new one is a dictionary whose keys are the column names (Bob and Sue in this example), and whose values are a list of entries. This is the standard way of constructing a new `DataFrame`.

This way of creating `DataFrame` uses ascending values from 0 as index. If we want to set index ourselves we can use following way.

In [3]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
              index = ['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

A `Series` is a sequence of data values. If a `DataFrame` is a table, a `Series` is a list. And in fact you can create one with nothing more than a list:

In [4]:
# creating a pandas series
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
# we can think of a Series as a column of a DataFrame.
# we can assign index values to Series in same way as pandas DataFrame
pd.Series([10, 20, 30], index=['2015 sales', '2016 sales', '2017 sales'], name='Product A')

2015 sales    10
2016 sales    20
2017 sales    30
Name: Product A, dtype: int64

`Series` and the `DataFrame` are intimately related. It's helpful to think of a `DataFrame` as actually being just a bunch of `Series` "glue together".

## Reading common file formats

- CSV

In [6]:
import os
os.listdir("../input/188-million-us-wildfires")

['FPA_FOD_20170508.sqlite']

In [7]:
# reading a csv file and storing it in a variable
wine_reviews = pd.read_csv("../input/wine-reviews/winemag-data-130k-v2.csv")

In [8]:
# we can use the 'shape' attribute to check size of dataset
wine_reviews.shape

(129971, 14)

In [9]:
# To show first five rows of data, use 'head()' method
wine_reviews.head()

   Unnamed: 0         ...                        winery
0           0         ...                       Nicosia
1           1         ...           Quinta dos Avidagos
2           2         ...                     Rainstorm
3           3         ...                    St. Julian
4           4         ...                  Sweet Cheeks

[5 rows x 14 columns]

We can notice that this data has built in index, so we can use that while reading dataset from csv file. Here's how to do that:

In [10]:
wine_reviews = pd.read_csv("../input/wine-reviews/winemag-data-130k-v2.csv", index_col=0)
wine_reviews.head()

    country         ...                        winery
0     Italy         ...                       Nicosia
1  Portugal         ...           Quinta dos Avidagos
2        US         ...                     Rainstorm
3        US         ...                    St. Julian
4        US         ...                  Sweet Cheeks

[5 rows x 13 columns]

- SQL Files

SQL databases are where most of the data on the web ultimately gets stored.

Connecting to a SQL database requires a connector, something that will handle siphoning data from the database.

`pandas` won't do this for you automatically because there are many, many different types of SQL databases out there, each with its own connector. So for a SQLite database, we would need to first do the following (using the  `sqlite3` library that comes with Python):

In [11]:
import sqlite3
conn = sqlite3.connect("../input/188-million-us-wildfires/FPA_FOD_20170508.sqlite")

The other thing you need to do is write a SQL statement. Internally, SQL databases all operate very differently. Externally, however, they all provide the same API, the "Structured Query Language" (or...SQL...for short).

For the purposes of analysis however we can usually just think of a SQL database as a set of tables with names, and SQL as a minor inconvenience in getting that data out of said tables.

To get the data out of `SQLite` and into `pandas`:

In [12]:
fires = pd.read_sql_query("SELECT * FROM fires", conn)

In [13]:
fires.head()

   OBJECTID                        ...                                                                      Shape
0         1                        ...                          b'\x00\x01\xad\x10\x00\x00\xe8d\xc2\x92_@^\xc0...
1         2                        ...                          b'\x00\x01\xad\x10\x00\x00T\xb6\xeej\xe2\x19^\...
2         3                        ...                          b'\x00\x01\xad\x10\x00\x00\xd0\xa5\xa0W\x13/^\...
3         4                        ...                          b'\x00\x01\xad\x10\x00\x00\x94\xac\xa3\rt\xfa]...
4         5                        ...                          b'\x00\x01\xad\x10\x00\x00@\xe3\xaa.\xb7\xfb]\...

[5 rows x 39 columns]

## Writing common file formats

- To CSV

In [14]:
wine_reviews.head().to_csv("wine_reviews.csv")

- To SQL database

To output to a SQL database, supply the name of the table in the database we want to throw the data into, and a connector:

In [15]:
conn = sqlite3.connect("fires.sqlite")
fires.head(10).to_sql("fires", conn)

Exercises of this tutorial are solved [here](https://www.kaggle.com/mahendrabishnoi2/exercise-creating-reading-and-writing)

# Indexing, Selecting & Assigning

## Relevant Resources
* **[Quickstart to indexing and selecting data](https://www.kaggle.com/residentmario/indexing-and-selecting-data/)** 
* [Indexing and Selecting Data](https://pandas.pydata.org/pandas-docs/stable/indexing.html) section of pandas documentation
* [Tutorial Link](https://www.kaggle.com/residentmario/indexing-selecting-assigning)

In [16]:
import pandas as pd
reviews = pd.read_csv("../input/wine-reviews/winemag-data-130k-v2.csv", index_col=0)
pd.set_option("display.max_rows", 5)

## Naive Accessors

In [17]:
reviews

         country          ...                         winery
0          Italy          ...                        Nicosia
1       Portugal          ...            Quinta dos Avidagos
...          ...          ...                            ...
129969    France          ...           Domaine Marcel Deiss
129970    France          ...               Domaine Schoffit

[129971 rows x 13 columns]

In [18]:
# access 'country' property (or column) of 'reviews' 
reviews.country

0            Italy
1         Portugal
            ...
129969      France
129970      France
Name: country, Length: 129971, dtype: object

In [19]:
# Another way to do above operation
# when a column name contains space, we have to use this method
reviews['country']

0            Italy
1         Portugal
            ...
129969      France
129970      France
Name: country, Length: 129971, dtype: object

In [20]:
# To access first row of country column
reviews['country'][0]

'Italy'

## Index-based selection
`pandas` has its own accessor operators, `loc` and `iloc`.

`pandas` indexing works in one of two paradigms. The first is index-based selection: selecting data based on its numerical position in the data. `iloc` follows this paradigm.

Both `loc` and `iloc` are row-first, column-second. This is the opposite of what we do in native Python, which is column-first, row-second.

In [21]:
# returns first row
reviews.iloc[0]

country                                                    Italy
description    Aromas include tropical fruit, broom, brimston...
                                     ...
variety                                              White Blend
winery                                                   Nicosia
Name: 0, Length: 13, dtype: object

In [22]:
# returns first column (country) (all rows due to ':')
reviews.iloc[:, 0]

0            Italy
1         Portugal
            ...
129969      France
129970      France
Name: country, Length: 129971, dtype: object

In [23]:
# retruns first 3 rows of first column
reviews.iloc[:3, 0]

0       Italy
1    Portugal
2          US
Name: country, dtype: object

In [24]:
# we can pass a list of indices of rows/columns to select
reviews.iloc[[0, 1, 2, 3], 0]

0       Italy
1    Portugal
2          US
3          US
Name: country, dtype: object

In [25]:
# We can also pass negative numbers as we do in Python
reviews.iloc[-5:]

        country                    ...                                                       winery
129966  Germany                    ...                     Dr. H. Thanisch (Erben Müller-Burggraef)
129967       US                    ...                                                     Citation
129968   France                    ...                                              Domaine Gresser
129969   France                    ...                                         Domaine Marcel Deiss
129970   France                    ...                                             Domaine Schoffit

[5 rows x 13 columns]

## Label-based selection
The second paradigm for attribute selection is the one followed by the `loc` operator: label-based selection. In this paradigm it's the data index value, not its position, which matters.

In [26]:
# To select first entry in country column
reviews.loc[0, 'country']

'Italy'

In [27]:
# select columns by name using 'loc'
reviews.loc[:, ['taster_name', 'taster_twitter_handle', 'points']]

          taster_name taster_twitter_handle  points
0       Kerin O’Keefe          @kerinokeefe      87
1          Roger Voss            @vossroger      87
...               ...                   ...     ...
129969     Roger Voss            @vossroger      90
129970     Roger Voss            @vossroger      90

[129971 rows x 3 columns]

**Note: `iloc` uses the Python stdlib indexing scheme, where the first element of the range is included and the last one excluded. So 0:10 will select entries 0,...,9. `loc`, meanwhile, indexes inclusively. So 0:10 will select entries 0,...,10.**

## Manipulating the index

In [28]:
# 'set_index' to the 'title' field
reviews.set_index('title')

                                                     country          ...                         winery
title                                                                 ...
Nicosia 2013 Vulkà Bianco  (Etna)                      Italy          ...                        Nicosia
Quinta dos Avidagos 2011 Avidagos Red (Douro)       Portugal          ...            Quinta dos Avidagos
...                                                      ...          ...                            ...
Domaine Marcel Deiss 2012 Pinot Gris (Alsace)         France          ...           Domaine Marcel Deiss
Domaine Schoffit 2012 Lieu-dit Harth Cuvée Caro...    France          ...               Domaine Schoffit

[129971 rows x 12 columns]

## Conditional Selection

To find out better than average wines produced in Italy

In [29]:
# 1. Find out whether wine is produced in Italy
reviews.country == 'Italy'

0          True
1         False
          ...
129969    False
129970    False
Name: country, Length: 129971, dtype: bool

In [30]:
# 2. Now select all wines produced in Italy
reviews.loc[reviews.country == 'Italy'] #reviews[reviews.country == 'Italy']

       country       ...                  winery
0        Italy       ...                 Nicosia
6        Italy       ...         Terre di Giurfo
...        ...       ...                     ...
129961   Italy       ...                     COS
129962   Italy       ...                Cusumano

[19540 rows x 13 columns]

In [31]:
# Add one more condition for points to find better than average wines produced in Italy
reviews.loc[(reviews.country == 'Italy') & (reviews.points >= 90)]  # use | for 'OR' condition

       country    ...       winery
120      Italy    ...      Ceretto
130      Italy    ...      Ceretto
...        ...    ...          ...
129961   Italy    ...          COS
129962   Italy    ...     Cusumano

[6648 rows x 13 columns]

`pandas` comes with a few pre-built conditional selectors, two of which we will highlight here. The first is `isin`. `isin` is lets you select data whose value "is in" a list of values. For example, here's how we can use it to select wines only from Italy or France:

In [32]:
reviews.loc[reviews.country.isin(['Italy', 'France'])]

       country          ...                         winery
0        Italy          ...                        Nicosia
6        Italy          ...                Terre di Giurfo
...        ...          ...                            ...
129969  France          ...           Domaine Marcel Deiss
129970  France          ...               Domaine Schoffit

[41633 rows x 13 columns]

The second is `isnull` (and its companion `notnull`). These methods let you highlight values which are or are not empty (`NaN`). For example, to filter out wines lacking a price tag in the dataset, here's what we would do:

In [33]:
reviews.loc[reviews.price.notnull()]

         country          ...                         winery
1       Portugal          ...            Quinta dos Avidagos
2             US          ...                      Rainstorm
...          ...          ...                            ...
129969    France          ...           Domaine Marcel Deiss
129970    France          ...               Domaine Schoffit

[120975 rows x 13 columns]

## Assigning Data

In [34]:
reviews['critic'] = 'everyone'
reviews.critic

0         everyone
1         everyone
            ...
129969    everyone
129970    everyone
Name: critic, Length: 129971, dtype: object

In [35]:
# using iterable for assigning
reviews['index_backwards'] = range(len(reviews), 0, -1)
reviews['index_backwards']

0         129971
1         129970
           ...
129969         2
129970         1
Name: index_backwards, Length: 129971, dtype: int64

Exercises of this tutorial are solved [here](https://www.kaggle.com/mahendrabishnoi2/exercise-indexing-selecting-assigning)