**[Pandas Micro-Course Home Page](https://www.kaggle.com/learn/pandas)**

---

# Creating Reading and Writing

## Relevant Resources
* **[Creating, Reading and Writing Reference](https://www.kaggle.com/residentmario/creating-reading-and-writing-reference)** - Tutorial 
* [General Pandas Cheat Sheet](https://assets.datacamp.com/blog_assets/PandasPythonForDataScience.pdf)
* [IO tools](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html) - Pandas Documentation
* [This Notebook on Kaggle](https://www.kaggle.com/mahendrabishnoi2/04-pandas)

## Creating Data

In [1]:
# import pandas
import pandas as pd

# creating a DataFrame
pd.DataFrame({'Yes': [50, 31], 'No': [101, 2]})

   Yes   No
0   50  101
1   31    2

In [2]:
# another example of creating a dataframe
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland']})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.         Bland

We are using the `pd.DataFrame` constructor to generate these `DataFrame` objects. The syntax for declaring a new one is a dictionary whose keys are the column names (Bob and Sue in this example), and whose values are a list of entries. This is the standard way of constructing a new `DataFrame`.

This way of creating `DataFrame` uses ascending values from 0 as index. If we want to set index ourselves we can use following way.

In [3]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
              index = ['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

A `Series` is a sequence of data values. If a `DataFrame` is a table, a `Series` is a list. And in fact you can create one with nothing more than a list:

In [4]:
# creating a pandas series
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
# we can think of a Series as a column of a DataFrame.
# we can assign index values to Series in same way as pandas DataFrame
pd.Series([10, 20, 30], index=['2015 sales', '2016 sales', '2017 sales'], name='Product A')

2015 sales    10
2016 sales    20
2017 sales    30
Name: Product A, dtype: int64

`Series` and the `DataFrame` are intimately related. It's helpful to think of a `DataFrame` as actually being just a bunch of `Series` "glue together".

## Reading common file formats

- CSV

In [6]:
import os
os.listdir("../input/188-million-us-wildfires")

['FPA_FOD_20170508.sqlite']

In [7]:
# reading a csv file and storing it in a variable
wine_reviews = pd.read_csv("../input/wine-reviews/winemag-data-130k-v2.csv")

In [8]:
# we can use the 'shape' attribute to check size of dataset
wine_reviews.shape

(129971, 14)

In [9]:
# To show first five rows of data, use 'head()' method
wine_reviews.head()

   Unnamed: 0         ...                        winery
0           0         ...                       Nicosia
1           1         ...           Quinta dos Avidagos
2           2         ...                     Rainstorm
3           3         ...                    St. Julian
4           4         ...                  Sweet Cheeks

[5 rows x 14 columns]

We can notice that this data has built in index, so we can use that while reading dataset from csv file. Here's how to do that:

In [10]:
wine_reviews = pd.read_csv("../input/wine-reviews/winemag-data-130k-v2.csv", index_col=0)
wine_reviews.head()

    country         ...                        winery
0     Italy         ...                       Nicosia
1  Portugal         ...           Quinta dos Avidagos
2        US         ...                     Rainstorm
3        US         ...                    St. Julian
4        US         ...                  Sweet Cheeks

[5 rows x 13 columns]

- SQL Files

SQL databases are where most of the data on the web ultimately gets stored.

Connecting to a SQL database requires a connector, something that will handle siphoning data from the database.

`pandas` won't do this for you automatically because there are many, many different types of SQL databases out there, each with its own connector. So for a SQLite database, we would need to first do the following (using the  `sqlite3` library that comes with Python):

In [11]:
import sqlite3
conn = sqlite3.connect("../input/188-million-us-wildfires/FPA_FOD_20170508.sqlite")

The other thing you need to do is write a SQL statement. Internally, SQL databases all operate very differently. Externally, however, they all provide the same API, the "Structured Query Language" (or...SQL...for short).

For the purposes of analysis however we can usually just think of a SQL database as a set of tables with names, and SQL as a minor inconvenience in getting that data out of said tables.

To get the data out of `SQLite` and into `pandas`:

In [12]:
fires = pd.read_sql_query("SELECT * FROM fires", conn)

In [13]:
fires.head()

   OBJECTID                        ...                                                                      Shape
0         1                        ...                          b'\x00\x01\xad\x10\x00\x00\xe8d\xc2\x92_@^\xc0...
1         2                        ...                          b'\x00\x01\xad\x10\x00\x00T\xb6\xeej\xe2\x19^\...
2         3                        ...                          b'\x00\x01\xad\x10\x00\x00\xd0\xa5\xa0W\x13/^\...
3         4                        ...                          b'\x00\x01\xad\x10\x00\x00\x94\xac\xa3\rt\xfa]...
4         5                        ...                          b'\x00\x01\xad\x10\x00\x00@\xe3\xaa.\xb7\xfb]\...

[5 rows x 39 columns]

## Writing common file formats

- To CSV

In [14]:
wine_reviews.head().to_csv("wine_reviews.csv")

- To SQL database

To output to a SQL database, supply the name of the table in the database we want to throw the data into, and a connector:

In [15]:
conn = sqlite3.connect("fires.sqlite")
fires.head(10).to_sql("fires", conn)

Exercises of this tutorial are solved [here](https://www.kaggle.com/mahendrabishnoi2/exercise-creating-reading-and-writing)

# Indexing, Selecting & Assigning

## Relevant Resources
* **[Quickstart to indexing and selecting data](https://www.kaggle.com/residentmario/indexing-and-selecting-data/)** 
* [Indexing and Selecting Data](https://pandas.pydata.org/pandas-docs/stable/indexing.html) section of pandas documentation
* [Tutorial Link](https://www.kaggle.com/residentmario/indexing-selecting-assigning)

In [16]:
import pandas as pd
reviews = pd.read_csv("../input/wine-reviews/winemag-data-130k-v2.csv", index_col=0)
pd.set_option("display.max_rows", 5)

## Naive Accessors

In [17]:
reviews

         country          ...                         winery
0          Italy          ...                        Nicosia
1       Portugal          ...            Quinta dos Avidagos
...          ...          ...                            ...
129969    France          ...           Domaine Marcel Deiss
129970    France          ...               Domaine Schoffit

[129971 rows x 13 columns]

In [18]:
# access 'country' property (or column) of 'reviews' 
reviews.country

0            Italy
1         Portugal
            ...
129969      France
129970      France
Name: country, Length: 129971, dtype: object

In [19]:
# Another way to do above operation
# when a column name contains space, we have to use this method
reviews['country']

0            Italy
1         Portugal
            ...
129969      France
129970      France
Name: country, Length: 129971, dtype: object

In [20]:
# To access first row of country column
reviews['country'][0]

'Italy'

## Index-based selection
`pandas` has its own accessor operators, `loc` and `iloc`.

`pandas` indexing works in one of two paradigms. The first is index-based selection: selecting data based on its numerical position in the data. `iloc` follows this paradigm.

Both `loc` and `iloc` are row-first, column-second. This is the opposite of what we do in native Python, which is column-first, row-second.

In [21]:
# returns first row
reviews.iloc[0]

country                                                    Italy
description    Aromas include tropical fruit, broom, brimston...
                                     ...
variety                                              White Blend
winery                                                   Nicosia
Name: 0, Length: 13, dtype: object

In [22]:
# returns first column (country) (all rows due to ':')
reviews.iloc[:, 0]

0            Italy
1         Portugal
            ...
129969      France
129970      France
Name: country, Length: 129971, dtype: object

In [23]:
# retruns first 3 rows of first column
reviews.iloc[:3, 0]

0       Italy
1    Portugal
2          US
Name: country, dtype: object

In [24]:
# we can pass a list of indices of rows/columns to select
reviews.iloc[[0, 1, 2, 3], 0]

0       Italy
1    Portugal
2          US
3          US
Name: country, dtype: object

In [25]:
# We can also pass negative numbers as we do in Python
reviews.iloc[-5:]

        country                    ...                                                       winery
129966  Germany                    ...                     Dr. H. Thanisch (Erben Müller-Burggraef)
129967       US                    ...                                                     Citation
129968   France                    ...                                              Domaine Gresser
129969   France                    ...                                         Domaine Marcel Deiss
129970   France                    ...                                             Domaine Schoffit

[5 rows x 13 columns]

## Label-based selection
The second paradigm for attribute selection is the one followed by the `loc` operator: label-based selection. In this paradigm it's the data index value, not its position, which matters.

In [26]:
# To select first entry in country column
reviews.loc[0, 'country']

'Italy'

In [27]:
# select columns by name using 'loc'
reviews.loc[:, ['taster_name', 'taster_twitter_handle', 'points']]

          taster_name taster_twitter_handle  points
0       Kerin O’Keefe          @kerinokeefe      87
1          Roger Voss            @vossroger      87
...               ...                   ...     ...
129969     Roger Voss            @vossroger      90
129970     Roger Voss            @vossroger      90

[129971 rows x 3 columns]

**Note: `iloc` uses the Python stdlib indexing scheme, where the first element of the range is included and the last one excluded. So 0:10 will select entries 0,...,9. `loc`, meanwhile, indexes inclusively. So 0:10 will select entries 0,...,10.**

## Manipulating the index

In [28]:
# 'set_index' to the 'title' field
reviews.set_index('title')

                                                     country          ...                         winery
title                                                                 ...
Nicosia 2013 Vulkà Bianco  (Etna)                      Italy          ...                        Nicosia
Quinta dos Avidagos 2011 Avidagos Red (Douro)       Portugal          ...            Quinta dos Avidagos
...                                                      ...          ...                            ...
Domaine Marcel Deiss 2012 Pinot Gris (Alsace)         France          ...           Domaine Marcel Deiss
Domaine Schoffit 2012 Lieu-dit Harth Cuvée Caro...    France          ...               Domaine Schoffit

[129971 rows x 12 columns]

## Conditional Selection

To find out better than average wines produced in Italy

In [29]:
# 1. Find out whether wine is produced in Italy
reviews.country == 'Italy'

0          True
1         False
          ...
129969    False
129970    False
Name: country, Length: 129971, dtype: bool

In [30]:
# 2. Now select all wines produced in Italy
reviews.loc[reviews.country == 'Italy'] #reviews[reviews.country == 'Italy']

       country       ...                  winery
0        Italy       ...                 Nicosia
6        Italy       ...         Terre di Giurfo
...        ...       ...                     ...
129961   Italy       ...                     COS
129962   Italy       ...                Cusumano

[19540 rows x 13 columns]

In [31]:
# Add one more condition for points to find better than average wines produced in Italy
reviews.loc[(reviews.country == 'Italy') & (reviews.points >= 90)]  # use | for 'OR' condition

       country    ...       winery
120      Italy    ...      Ceretto
130      Italy    ...      Ceretto
...        ...    ...          ...
129961   Italy    ...          COS
129962   Italy    ...     Cusumano

[6648 rows x 13 columns]

`pandas` comes with a few pre-built conditional selectors, two of which we will highlight here. The first is `isin`. `isin` is lets you select data whose value "is in" a list of values. For example, here's how we can use it to select wines only from Italy or France:

In [32]:
reviews.loc[reviews.country.isin(['Italy', 'France'])]

       country          ...                         winery
0        Italy          ...                        Nicosia
6        Italy          ...                Terre di Giurfo
...        ...          ...                            ...
129969  France          ...           Domaine Marcel Deiss
129970  France          ...               Domaine Schoffit

[41633 rows x 13 columns]

The second is `isnull` (and its companion `notnull`). These methods let you highlight values which are or are not empty (`NaN`). For example, to filter out wines lacking a price tag in the dataset, here's what we would do:

In [33]:
reviews.loc[reviews.price.notnull()]

         country          ...                         winery
1       Portugal          ...            Quinta dos Avidagos
2             US          ...                      Rainstorm
...          ...          ...                            ...
129969    France          ...           Domaine Marcel Deiss
129970    France          ...               Domaine Schoffit

[120975 rows x 13 columns]

## Assigning Data

In [34]:
reviews['critic'] = 'everyone'
reviews.critic

0         everyone
1         everyone
            ...
129969    everyone
129970    everyone
Name: critic, Length: 129971, dtype: object

In [35]:
# using iterable for assigning
reviews['index_backwards'] = range(len(reviews), 0, -1)
reviews['index_backwards']

0         129971
1         129970
           ...
129969         2
129970         1
Name: index_backwards, Length: 129971, dtype: int64

Exercises of this tutorial are solved [here](https://www.kaggle.com/mahendrabishnoi2/exercise-indexing-selecting-assigning)

# Summary Functions and Maps

## Relevant Resources
- [Essential Basic Functionality](https://pandas.pydata.org/pandas-docs/stable/basics.html) - From Pandas Docs
- [Tutorial](https://www.kaggle.com/residentmario/summary-functions-and-maps)

In [36]:
import pandas as pd
pd.set_option('max_rows', 5)
import numpy as np
reviews = pd.read_csv("../input/wine-reviews/winemag-data-130k-v2.csv", index_col=0)
reviews.head()

    country         ...                        winery
0     Italy         ...                       Nicosia
1  Portugal         ...           Quinta dos Avidagos
2        US         ...                     Rainstorm
3        US         ...                    St. Julian
4        US         ...                  Sweet Cheeks

[5 rows x 13 columns]

## Summary Functions
- `describe`

In [37]:
reviews.describe()
# this method generates stats for numerical data only

              points          price
count  129971.000000  120975.000000
mean       88.447138      35.363389
...              ...            ...
75%        91.000000      42.000000
max       100.000000    3300.000000

[8 rows x 2 columns]

In [38]:
reviews.taster_name.describe()          
# when 'describe' method is applied to string data

count         103727
unique            19
top       Roger Voss
freq           25514
Name: taster_name, dtype: object

- `mean`

In [39]:
# Find out a particular statistic of a DataFrame or Series
# For eg. find the average of points/rating given to wines
reviews.points.mean()

88.44713820775404

- `unique` - To see a list of unique items in Series or DataFrame

In [40]:
reviews.taster_name.unique()

array(['Kerin O’Keefe', 'Roger Voss', 'Paul Gregutt',
       'Alexander Peartree', 'Michael Schachner', 'Anna Lee C. Iijima',
       'Virginie Boone', 'Matt Kettmann', nan, 'Sean P. Sullivan',
       'Jim Gordon', 'Joe Czerwinski', 'Anne Krebiehl\xa0MW',
       'Lauren Buzzeo', 'Mike DeSimone', 'Jeff Jenssen',
       'Susan Kostrzewa', 'Carrie Dykes', 'Fiona Adams',
       'Christina Pickard'], dtype=object)

- `value_counts()` - To see a list of all unique values and their count

In [41]:
reviews.taster_name.value_counts()

Roger Voss           25514
Michael Schachner    15134
                     ...
Fiona Adams             27
Christina Pickard        6
Name: taster_name, Length: 19, dtype: int64

## Maps
A "map" is a term, borrowed from mathematics, for a function that takes one set of values and "maps" them to another set of values. In data science we often have a need for creating new representations from existing data, or for transforming data from the format it is in now to the format that we want it to be in later.

There are two mapping method that you will use often. [`Series.map`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.map.html) is the first, and slightly simpler one. For example, suppose that we wanted to remean the scores the wines recieved to 0. We can do this as follows:

In [42]:
review_points_mean = reviews.points.mean()
reviews.points.map(lambda p: p - review_points_mean)

0        -1.447138
1        -1.447138
            ...
129969    1.552862
129970    1.552862
Name: points, Length: 129971, dtype: float64

[`DataFrame.apply`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) is the equivalent method if we want to transform a whole DataFrame by calling a custom method on each row.

In [43]:
def remean_points(row):
    row.points = row.points - review_points_mean
    return row

reviews.apply(remean_points, axis='columns')

         country          ...                         winery
0          Italy          ...                        Nicosia
1       Portugal          ...            Quinta dos Avidagos
...          ...          ...                            ...
129969    France          ...           Domaine Marcel Deiss
129970    France          ...               Domaine Schoffit

[129971 rows x 13 columns]

If we had called `reviews.apply` with `axis='index'`, then instead of passing a function to transform each row, we would need to give a function to transform each column.

Note that `Series.map` and `DataFrame.apply` return new, transformed Series and DataFrames, respectively. They don't modify the original data they're called on. If we look at the first row of `reviews`, we can see that it still has its original `points` value.

In [44]:
reviews.head(1)

  country   ...      winery
0   Italy   ...     Nicosia

[1 rows x 13 columns]

In [45]:
# Another way (also faster one) to remean points
review_points_mean = reviews.points.mean()
reviews.points - review_points_mean

0        -1.447138
1        -1.447138
            ...
129969    1.552862
129970    1.552862
Name: points, Length: 129971, dtype: float64

Here there are lot of values on LHS of `-` and single value on RHS. `pandas` automatically substract single value from every value on LHS. **Broadcasting**.

It works equally well if we have equal number of values on both sides. Also for data types other than `int` and `float`.

In [46]:
# Combining data from two string columns. concatenation
reviews.country + ' - ' + reviews.region_1

0            Italy - Etna
1                     NaN
               ...
129969    France - Alsace
129970    France - Alsace
Length: 129971, dtype: object

These operators are faster than the `map` or `apply` because they uses speed ups built into `pandas`. All of the standard Python operators (`>`, `<`, `==`, and so on) work in this manner but they are not as flexible as `map` and `apply`. We can apply conditional logic etc. using `map` and `apply`.

Exercises of this tutorial are solved [here](https://www.kaggle.com/mahendrabishnoi2/exercise-summary-functions-and-maps)

# Grouping and Sorting
Maps allow us to transform data in a `DataFrame` or `Series` one value at a time for an entire column. However, often we want to group our data, and then do something specific to the group the data is in. We do this with the `groupby` operation.

## Relevant Resources
- [**Grouping Reference and Examples**](https://www.kaggle.com/residentmario/grouping-and-sorting-reference) - Tutorial 
- [Groupby: split-apply-combine](https://pandas.pydata.org/pandas-docs/stable/groupby.html) - Grouping
- [Advanced Indexing](https://pandas.pydata.org/pandas-docs/stable/advanced.html) - Multi Indexing
- [Adavanced basic functionality](https://pandas.pydata.org/pandas-docs/stable/basics.html#sorting) - Sorting

In [47]:
import pandas as pd
reviews = pd.read_csv("../input/wine-reviews/winemag-data-130k-v2.csv", index_col=0)
pd.set_option("display.max_rows", 5)

Maps allow us to transform data in a `DataFrame` or `Series` one value at a time for an entire column. However, often we want to group our data, and then do something specific to the group the data is in. To do this, we can use the `groupby` operation.

For example, one function we've been using heavily thus far is the `value_counts` function. We can replicate what `value_counts` does using `groupby` by doing the following:

In [48]:
reviews.groupby('points').points.count()

points
80     397
81     692
      ...
99      33
100     19
Name: points, Length: 21, dtype: int64

`groupby` in pandas works in a similar way as `GROUP BY` in sql. Example:

In [49]:
reviews.groupby('points').count()

        country  description  designation   ...    title  variety  winery
points                                      ...
80          397          397          250   ...      397      397     397
81          692          692          406   ...      692      692     692
...         ...          ...          ...   ...      ...      ...     ...
99           33           33           29   ...       33       33      33
100          19           19           13   ...       19       19      19

[21 rows x 12 columns]

`value_counts` is just a shortcut to this `groupby` operation. We can use any of the summary functions we've used before with this data. For example, to get the cheapest wine in each point value category, we can do the following:

In [50]:
reviews.groupby('points').price.min()

points
80      5.0
81      5.0
       ...
99     44.0
100    80.0
Name: price, Length: 21, dtype: float64

We can think of each group we generate as being a slice of our `DataFrame` containing only data with values that match. This `DataFrame` is accessible to us directly using the `apply` method, and we can then manipulate the data in any way we see fit. For example, here's one way of selecting the name of the first wine reviewed from each winery in the dataset:

In [51]:
reviews.groupby('winery').apply(lambda df: df.title.iloc[0])

winery
1+1=3                          1+1=3 NV Rosé Sparkling (Cava)
10 Knots                 10 Knots 2010 Viognier (Paso Robles)
                                  ...
àMaurice    àMaurice 2013 Fred Estate Syrah (Walla Walla V...
Štoka                         Štoka 2009 Izbrani Teran (Kras)
Length: 16757, dtype: object

For even more fine-grained control, we can also group by more than one column. For an example, here's how we would pick out the best wine by country and province:

In [52]:
# reviews.groupby(['country', 'province']).apply(lambda df: df.loc[df.points.argmax()])
reviews.groupby(['country', 'province']).apply(lambda df: df.loc[df.points.idxmax()])

/opt/conda/lib/python3.6/site-packages/pandas/core/groupby/groupby.py:4315: FutureWarning: arrays to stack must be passed as a "sequence" type such as list or tuple. Support for non-sequence iterables such as generators is deprecated as of NumPy 1.16 and will raise an error in the future.
  stacked_values = np.vstack(map(np.asarray, values))

                              country          ...                         winery
country   province                             ...
Argentina Mendoza Province  Argentina          ...           Bodega Catena Zapata
          Other             Argentina          ...                         Colomé
...                               ...          ...                            ...
Uruguay   San Jose            Uruguay          ...                 Castillo Viejo
          Uruguay             Uruguay          ...                        Narbona

[425 rows x 13 columns]

Another groupby method worth mentioning is `agg`, which lets us run a bunch of different functions on our `DataFrame` simultaneously. For example, we can generate a simple statistical summary of the dataset as follows:

In [53]:
reviews.groupby('country').price.agg([len, min, max])

              len   min    max
country
Argentina  3800.0   4.0  230.0
Armenia       2.0  14.0   15.0
...           ...   ...    ...
Ukraine      14.0   6.0   13.0
Uruguay     109.0  10.0  130.0

[43 rows x 3 columns]

## Multi-indexes
A multi-index differs from a regular index in that it has multiple levels. For example:

In [54]:
countries_reviewed = reviews.groupby(['country', 'province']).description.agg([len])
countries_reviewed

                             len
country   province
Argentina Mendoza Province  3264
          Other              536
...                          ...
Uruguay   San Jose             3
          Uruguay             24

[425 rows x 1 columns]

In [55]:
mi = _.index
type(mi)

pandas.core.indexes.multi.MultiIndex

Multi-indices have several methods for dealing with their tiered structure which are absent for single-level indices. They also require two levels of labels to retrieve a value, an operation that looks something like this. Dealing with multi-index output is a common "gotcha" for users new to `pandas`.

However, in general the `MultiIndex` method you will use most often is the one for converting back to a regular index, the reset_index method:

In [56]:
countries_reviewed.reset_index()

       country          province   len
0    Argentina  Mendoza Province  3264
1    Argentina             Other   536
..         ...               ...   ...
423    Uruguay          San Jose     3
424    Uruguay           Uruguay    24

[425 rows x 3 columns]

## Sorting
when outputting the result of a `groupby`, the order of the rows is dependent on the values in the index, not in the data.

To get data in the order want it in we can sort it ourselves. The `sort_values` method is handy for this.

In [57]:
countries_reviewed = countries_reviewed.reset_index()
countries_reviewed.sort_values(by='len')

    country               province    len
179  Greece  Muscat of Kefallonian      1
192  Greece          Sterea Ellada      1
..      ...                    ...    ...
415      US             Washington   8639
392      US             California  36247

[425 rows x 3 columns]

In [58]:
# Descending sort
countries_reviewed.sort_values(by='len', ascending=False)

    country    province    len
392      US  California  36247
415      US  Washington   8639
..      ...         ...    ...
63    Chile     Coelemu      1
149  Greece      Beotia      1

[425 rows x 3 columns]

In [59]:
# sort by index
countries_reviewed.sort_index()

       country          province   len
0    Argentina  Mendoza Province  3264
1    Argentina             Other   536
..         ...               ...   ...
423    Uruguay          San Jose     3
424    Uruguay           Uruguay    24

[425 rows x 3 columns]

In [60]:
# sort by more than one column at a time
countries_reviewed.sort_values(by=['country', 'len'])

       country          province   len
1    Argentina             Other   536
0    Argentina  Mendoza Province  3264
..         ...               ...   ...
424    Uruguay           Uruguay    24
419    Uruguay         Canelones    43

[425 rows x 3 columns]

Exercises of this tutorial are solved [here](https://www.kaggle.com/mahendrabishnoi2/exercise-grouping-and-sorting)

# Data Types and Missing Data

## Relevant Resources
- [Data Types and Missing Data Reference](https://www.kaggle.com/residentmario/data-types-and-missing-data-reference) - Tutorial
- [Intro to data structures](https://pandas.pydata.org/pandas-docs/stable/dsintro.html)
- [Working with missing data](https://pandas.pydata.org/pandas-docs/stable/missing_data.html)

In [61]:
import pandas as pd
reviews = pd.read_csv("../input/wine-reviews/winemag-data-130k-v2.csv", index_col=0)
pd.set_option('max_rows', 5)

## Data Types

The data type for a column in a `DataFrame` or a `Series` is known as the `dtype`.

We can use the `dtype` property to grab the type of a specific column:

In [62]:
reviews.price.dtype

dtype('float64')

In [63]:
# data types of all columns in a DataFrame
reviews.dtypes

country        object
description    object
                ...
variety        object
winery         object
Length: 13, dtype: object

One peculiarity to keep in mind (and on display very clearly here) is that columns consisting entirely of strings do not get their own type; they are instead given the `object` type.

It's possible to convert a column of one type into another wherever such a conversion makes sense by using the `astype` function. For example, we may transform the `points` column from its existing `int64` data type into a `float64` data type:

In [64]:
reviews.points.astype('float64')

0         87.0
1         87.0
          ...
129969    90.0
129970    90.0
Name: points, Length: 129971, dtype: float64

In [65]:
# data type of index of "Series" or "DataFrame"
reviews.index.dtype

dtype('int64')

## Missing Data
Entries missing values are given the value `NaN`, short for "Not a Number". For technical reasons these `NaN` values are always of the `float64` dtype.

`pandas` provides some methods specific to missing data. To select `NaN` entreis we can use `pd.isnull` (or its companion `pd.notnull`).

In [66]:
reviews[reviews.country.isnull()]

       country         ...                      winery
913        NaN         ...          Gotsa Family Wines
3131       NaN         ...           Barton & Guestier
...        ...         ...                         ...
129590     NaN         ...                   Büyülübağ
129900     NaN         ...                      Psagot

[63 rows x 13 columns]

Replacing missing values is a common operation.  `pandas` provides a really handy method for this problem: `fillna`. `fillna` provides a few different strategies for mitigating such data. For example, we can simply replace each `NaN` with an `"Unknown"`:

In [67]:
reviews.region_2.fillna("Unknown")

0         Unknown
1         Unknown
           ...
129969    Unknown
129970    Unknown
Name: region_2, Length: 129971, dtype: object

`fillna` supports a few strategies for imputing missing values explained in [the official function documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.fillna.html).

Alternatively, we may have a non-null value that we would like to replace. For example, suppose that since this dataset was published, reviewer Kerin O'Keefe has changed her Twitter handle from `@kerinokeefe` to `@kerino`. One way to reflect this in the dataset is using the `replace` method:

In [68]:
reviews.taster_twitter_handle.replace('@kerinokeefe', '@kerino')

0            @kerino
1         @vossroger
             ...
129969    @vossroger
129970    @vossroger
Name: taster_twitter_handle, Length: 129971, dtype: object

Exercises of this tutorial are solved [here](https://www.kaggle.com/mahendrabishnoi2/exercise-data-types-and-missing-values)

# Renaming and Combining Values

## Relevant Resources
- [Renaming and Combining Values Reference](https://www.kaggle.com/residentmario/renaming-and-combining-reference) - Tutorial
- [Essential Basic Functionality](https://pandas.pydata.org/pandas-docs/stable/basics.html#renaming-mapping-labels) - Renaming
- [Merge, join, concatenate](https://pandas.pydata.org/pandas-docs/stable/merging.html) - Combining

In [69]:
import pandas as pd
pd.set_option('max_rows', 5)
reviews = pd.read_csv("../input/wine-reviews/winemag-data-130k-v2.csv", index_col=0)
reviews

         country          ...                         winery
0          Italy          ...                        Nicosia
1       Portugal          ...            Quinta dos Avidagos
...          ...          ...                            ...
129969    France          ...           Domaine Marcel Deiss
129970    France          ...               Domaine Schoffit

[129971 rows x 13 columns]

## Renaming
- `rename` - lets us rename index names and/or column names. 

For example, to change the points column in our dataset to score, we would do:

In [70]:
reviews.rename(columns={'points': 'score'})

         country          ...                         winery
0          Italy          ...                        Nicosia
1       Portugal          ...            Quinta dos Avidagos
...          ...          ...                            ...
129969    France          ...           Domaine Marcel Deiss
129970    France          ...               Domaine Schoffit

[129971 rows x 13 columns]

`rename` lets us rename index or column values by specifying a index or column keyword parameter.

In [71]:
reviews.rename(index={0: 'firstEntry', 1: 'secondEntry'})

              country          ...                         winery
firstEntry      Italy          ...                        Nicosia
secondEntry  Portugal          ...            Quinta dos Avidagos
...               ...          ...                            ...
129969         France          ...           Domaine Marcel Deiss
129970         France          ...               Domaine Schoffit

[129971 rows x 13 columns]

Both the row index and the column index can have their own name attribute. The complimentary `rename_axis` method may be used to change these names. For example:

In [72]:
reviews.rename_axis('fields', axis='columns').rename_axis('wines', axis='rows')

#reviews.rename_axis("wines", axis='rows').rename_axis("fields", axis='columns')    # Also correct

fields   country          ...                         winery
wines                     ...
0          Italy          ...                        Nicosia
1       Portugal          ...            Quinta dos Avidagos
...          ...          ...                            ...
129969    France          ...           Domaine Marcel Deiss
129970    France          ...               Domaine Schoffit

[129971 rows x 13 columns]

## Combining

When performing operations on a dataset we will sometimes need to combine different `DataFrame` and/or `Series` in non-trivial ways. `pandas` has three core methods for doing this. In order of increasing complexity, these are `concat`, `join`, and `merge`. Most of what `merge` can do can also be done more simply with `join`.

The simplest combining method is `concat`. This function works just like the `list.concat` method in core Python: given a list of elements, it will smush those elements together along an axis.

This is useful when we have data in different `DataFrame` or `Series` objects but having the same fields (columns). One example: the [YouTube Videos](https://www.kaggle.com/datasnaek/youtube-new) dataset, which splits the data up based on country of origin (e.g. Canada and the UK, in this example). If we want to study multiple countries simultaneously, we can use `concat` to smush them together:

In [73]:
canadian_youtube = pd.read_csv("../input/youtube-new/CAvideos.csv")
british_youtube = pd.read_csv("../input/youtube-new/GBvideos.csv")

pd.concat([canadian_youtube, british_youtube])

          video_id                        ...                                                                description
0      n1WpP7iowLc                        ...                          Eminem's new track Walk on Water ft. Beyoncé i...
1      0dBIkQ4Mz1M                        ...                          STill got a lot of packages. Probably will las...
...            ...                        ...                                                                        ...
38914  -DRsfNObKIQ                        ...                          Eleni Foureira represented Cyprus at the first...
38915  4YFo4bdMO8Q                        ...                          Debut album 'Light of Mine' out now: http://ky...

[79797 rows x 16 columns]

`pd.DataFrame.join` lets us combine different DataFrame objects which have an index in common. For example, to pull down videos that happened to be trending on the same day in both Canada and the UK, we could do the following:

In [74]:
left = canadian_youtube.set_index(['title', 'trending_date'])
right = british_youtube.set_index(['title', 'trending_date'])

left.join(right, lsuffix='_CAN', rsuffix='_UK')

                                                                 video_id_CAN      ...       description_UK
title                                              trending_date                   ...
!! THIS VIDEO IS NOTHING BUT PAIN !! | Getting ... 18.04.01       PNn8sECd7io      ...                  NaN
#1 Fortnite World Rank - 2,323 Solo Wins!          18.09.03       DvPW66IFhMI      ...                  NaN
...                                                                       ...      ...                  ...
🚨 BREAKING NEWS 🔴 Raja Live all Slot Channels W... 18.07.05       Wt9Gkpmbt44      ...                  NaN
🚨Active Shooter at YouTube Headquarters - LIVE ... 18.04.04       Az72jrKbANA      ...                  NaN

[40900 rows x 28 columns]

Exercises of this tutorial solved [here](https://www.kaggle.com/mahendrabishnoi2/exercise-renaming-and-combining)