**[Pandas Micro-Course Home Page](https://www.kaggle.com/learn/pandas)**

---

# Creating Reading and Writing

## Relevant Resources
* **[Creating, Reading and Writing Reference](https://www.kaggle.com/residentmario/creating-reading-and-writing-reference)** - Tutorial 
* [General Pandas Cheat Sheet](https://assets.datacamp.com/blog_assets/PandasPythonForDataScience.pdf)
* [IO tools](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html) - Pandas Documentation
* [This Notebook on Kaggle](https://www.kaggle.com/mahendrabishnoi2/04-pandas)

## Creating Data

In [1]:
# import pandas
import pandas as pd

# creating a DataFrame
pd.DataFrame({'Yes': [50, 31], 'No': [101, 2]})

   Yes   No
0   50  101
1   31    2

In [2]:
# another example of creating a dataframe
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland']})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.         Bland

We are using the `pd.DataFrame` constructor to generate these `DataFrame` objects. The syntax for declaring a new one is a dictionary whose keys are the column names (Bob and Sue in this example), and whose values are a list of entries. This is the standard way of constructing a new `DataFrame`.

This way of creating `DataFrame` uses ascending values from 0 as index. If we want to set index ourselves we can use following way.

In [3]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
              index = ['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

A `Series` is a sequence of data values. If a `DataFrame` is a table, a `Series` is a list. And in fact you can create one with nothing more than a list:

In [4]:
# creating a pandas series
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
# we can think of a Series as a column of a DataFrame.
# we can assign index values to Series in same way as pandas DataFrame
pd.Series([10, 20, 30], index=['2015 sales', '2016 sales', '2017 sales'], name='Product A')

2015 sales    10
2016 sales    20
2017 sales    30
Name: Product A, dtype: int64

`Series` and the `DataFrame` are intimately related. It's helpful to think of a `DataFrame` as actually being just a bunch of `Series` "glue together".

## Reading common file formats

- CSV

In [6]:
import os
os.listdir("../input/188-million-us-wildfires")

['FPA_FOD_20170508.sqlite']

In [7]:
# reading a csv file and storing it in a variable
wine_reviews = pd.read_csv("../input/wine-reviews/winemag-data-130k-v2.csv")

In [8]:
# we can use the 'shape' attribute to check size of dataset
wine_reviews.shape

(129971, 14)

In [9]:
# To show first five rows of data, use 'head()' method
wine_reviews.head()

   Unnamed: 0         ...                        winery
0           0         ...                       Nicosia
1           1         ...           Quinta dos Avidagos
2           2         ...                     Rainstorm
3           3         ...                    St. Julian
4           4         ...                  Sweet Cheeks

[5 rows x 14 columns]

We can notice that this data has built in index, so we can use that while reading dataset from csv file. Here's how to do that:

In [10]:
wine_reviews = pd.read_csv("../input/wine-reviews/winemag-data-130k-v2.csv", index_col=0)
wine_reviews.head()

    country         ...                        winery
0     Italy         ...                       Nicosia
1  Portugal         ...           Quinta dos Avidagos
2        US         ...                     Rainstorm
3        US         ...                    St. Julian
4        US         ...                  Sweet Cheeks

[5 rows x 13 columns]

- SQL Files

SQL databases are where most of the data on the web ultimately gets stored.

Connecting to a SQL database requires a connector, something that will handle siphoning data from the database.

`pandas` won't do this for you automatically because there are many, many different types of SQL databases out there, each with its own connector. So for a SQLite database, we would need to first do the following (using the  `sqlite3` library that comes with Python):

In [11]:
import sqlite3
conn = sqlite3.connect("../input/188-million-us-wildfires/FPA_FOD_20170508.sqlite")

The other thing you need to do is write a SQL statement. Internally, SQL databases all operate very differently. Externally, however, they all provide the same API, the "Structured Query Language" (or...SQL...for short).

For the purposes of analysis however we can usually just think of a SQL database as a set of tables with names, and SQL as a minor inconvenience in getting that data out of said tables.

To get the data out of `SQLite` and into `pandas`:

In [12]:
fires = pd.read_sql_query("SELECT * FROM fires", conn)

In [13]:
fires.head()

   OBJECTID                        ...                                                                      Shape
0         1                        ...                          b'\x00\x01\xad\x10\x00\x00\xe8d\xc2\x92_@^\xc0...
1         2                        ...                          b'\x00\x01\xad\x10\x00\x00T\xb6\xeej\xe2\x19^\...
2         3                        ...                          b'\x00\x01\xad\x10\x00\x00\xd0\xa5\xa0W\x13/^\...
3         4                        ...                          b'\x00\x01\xad\x10\x00\x00\x94\xac\xa3\rt\xfa]...
4         5                        ...                          b'\x00\x01\xad\x10\x00\x00@\xe3\xaa.\xb7\xfb]\...

[5 rows x 39 columns]

## Writing common file formats

- To CSV

In [14]:
wine_reviews.head().to_csv("wine_reviews.csv")

- To SQL database

To output to a SQL database, supply the name of the table in the database we want to throw the data into, and a connector:

In [15]:
conn = sqlite3.connect("fires.sqlite")
fires.head(10).to_sql("fires", conn)

Exercises of this tutorial solved [here](https://www.kaggle.com/mahendrabishnoi2/exercise-creating-reading-and-writing)